
.feed-heading {
  border-bottom: 2px solid black;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.modal-title {
  cursor: pointer;
}

.container.home-container.mt-5 {
  min-height: 100vh;
}

